extends: default

rules:
  line-length:
    max: 140
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  document-start: disable
  comments-indentation: disable
  trailing-spaces: enable
  new-line-at-end-of-file: enable

ignore: |
  .github/workflows/
